# CONTENTS

### 01) Import Libraries and Dataframe
### 02) Wrangling
### 03) Cleaning
### 04) Consistency Checks
### 05) Export Data

# 01 Import Libraries and Dataframe

In [1]:
#Import Libraries
import pandas as pd
import numpy as np
import os

In [2]:
#Settings
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 1000)

In [3]:
#Import Dataframe
path = r'/Users/Nick/Documents/CareerFoundry/Immersion-6/College-Equity/02-Data'
ced = pd.read_csv(os.path.join(path, 'college-equity-original.csv'), index_col = False)
ced.head()

,name,tier,ownership_type,state,city,zip,unitid,opeid,opeid6,student_body,fraction_students_men,fraction_students_women,fraction_students_white,fraction_students_black,fraction_students_hispanic,fraction_students_asian,fraction_students_native_american,fraction_students_pacific_islander,fraction_students_multiracial,fraction_students_non_resident,fraction_students_unknown_ethnicity,fraction_parent_income_q1,fraction_parent_income_q2,fraction_parent_income_q3,fraction_parent_income_q4,fraction_parent_income_q5,mean_parent_income,median_parent_income,fraction_child_income_q1,fraction_child_income_q2,fraction_child_income_q3,fraction_child_income_q4,fraction_child_income_q5,mean_child_income,median_child_income,percent_child_zero_income,mobility_rate,sat_verbal_25_percentile,sat_verbal_75_percentile,sat_math_25_percentile,sat_math_75_percentile,sat_verbal_median,sat_math_median,sat_equivalent_avg_all,tuition_in_state,tuition_out_of_state,tuition_net,cost_of_attendance,pell_grant_rate,pell_aid_per_student,institutional_grant_aid_avg,fraction_students_with_debt,debt_median,debt_90_percentile,debt_75_percentile,debt_25_percentile,debt_10_percentile,admission_rate,online_only,completion_rate,completion_rate_white,completion_rate_black,completion_rate_hisp,completion_rate_asian,completion_rate_native_american,completion_rate_multiracial,completion_rate_non_resident,completion_rate_unknown_ethnicity,student_income_6_years_mean,student_income_6_years_median,student_income_6_years_25_percentile,student_income_6_years_75_percentile,student_income_6_years_stdev,student_income_10_years_mean,student_income_10_years_median,student_income_10_years_25_percentile,student_income_10_years_75_percentile,student_income_10_years_stdev,fraction_majors_category_stem,fraction_majors_agriculture,fraction_majors_natural_resources,fraction_majors_architecture,fraction_majors_area_studies,fraction_majors_communication,fraction_majors_commtech,fraction_majors_compsci,fraction_majors_culinary,fraction_majors_education,fraction_majors_engineering,fraction_majors_engtech,fraction_majors_languages,fraction_majors_consumer_sci,fraction_majors_legal,fraction_majors_english,fraction_majors_liberal_arts,fraction_majors_library,fraction_majors_bio,fraction_majors_math,fraction_majors_military,fraction_majors_multidisciplinary,fraction_majors_parks_rec,fraction_majors_philosophy,fraction_majors_religion,fraction_majors_physical_sci,fraction_majors_sci_tech,fraction_majors_psych,fraction_majors_protective_serv,fraction_majors_pub_admin,fraction_majors_social_sci,fraction_majors_construction,fraction_majors_mechanic,fraction_majors_prec_prod,fraction_majors_transportation,fraction_majors_arts,fraction_majors_health,fraction_majors_business,fraction_majors_history
0,ASA College,Two-year for-profit,Private for-profit,NY,Brooklyn,11201-9805,404994,3095500,30955,4437.0,0.3678,0.6322,0.0471,0.3315,0.3980,0.0775,0.0009,0.0014,0.0133,0.1285,0.0018,0.443575,0.326790,0.143711,0.059707,0.026217,35390.39680,29000,0.171280,0.297217,0.251632,0.210021,0.069851,24916.14900,19700,0.160623,0.020034,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12298.0,12298.0,14948.0,26546.0,0.7992,3578.4820,3218.60,0.5164,8500.0,19810.0,14193.0,3500.0,2000.0,NaN,0.0,0.3185,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,22300.0,18100.0,10300.0,31000.0,16800.0,29300.0,26100.0,13800.0,40400.0,21000.0,0.222853,0.0000,0.0000,0.0000,0.0,0.0000,0.0000,0.0899,0.0,0.0000,0.0,0.0,0.0000,0.0000,0.0024,0.0000,0.0000,0.0,0.0000,0.0000,0.0,0.0000,0.0000,0.0,0.0000,0.0000,0.0,0.0000,0.1664,0.0000,0.0000,0.0,0.0,0.0,0.0,0.0000,0.5591,0.1822,0.0000
1,Abilene Christian University,Selective private,Private nonprofit,TX,Abilene,79699,222178,353700,3537,3572.0,0.4236,0.5764,0.6739,0.0798,0.1414,0.0090,0.0039,0.0000,0.0454,0.0423,0.0045,0.052441,0.101032,0.163936,0.258240,0.424351,138760.96980,101000,0.140065,0.132948,0.173277,0.246444,0.307266,50874.14613,40100,0.121246,0.014364,470.0,590.0,490.0,600.0,530.0,545.0,1091.0,29450.0,29450.0,13974.0,41606.0,0.2595,940.7532,11832.39,0.5945,18500.0,37000.0,27500.0,6500.0,4750.0,0.5047,0.0,0.6200,0.6518,0.3824,0.4933,0.6154,0.2000,0.9000,0.7143,0.0000,38900.0,35600.0,22500.0,50000.0,31300.0,48900.0,43000.0,26700.0,62700.0,38700.0,0.155251,0.0138,0.0063,0.0013,0.0,0.0752,0.0000,0.0251,0.0,0.0777,0.0,0.0,0.0000,0.0388,0.0000,0.0251,0.0000,0.0,0.0614,0.0025,0.0,0.0677,0.0489,0.0,0.0351,0.0075,0.0,0.0627,0.0226,0.0188,0.0201,0.0,0.0,0.0,0.0,0.0664,0.0890,0.2256,0.0088
2,Abraham Baldwin Agricultural College,Nonselective four-year public,Public,GA,Tifton,31793-2601,138558,154100,1541,3244.0,0.4750,0.5250,0.7830,0.1239,0.0586,0.0071,0.0025,0.0003,0.0092,0.0151,0.0003,0.154555,0.187159,0.225497,0.236763,0.196027,80366.66127,66000,0.121950,0.179027,0.255329,0.273957,0.169737,35346.92997,32500,0.113069,0.014857,410.0,520.0,410.0,510.0,465.0,460.0,927.0,3394.0,9839.0,2359.0,11674.0,0.4629,1870.4520,1152.64,0.4831,5500.0,20750.0,12000.0,3500.0,2000.0,0.7726,0.0,0.1618,0.1880,0.0549,0.2821,0.1250,0.2000,0.2727,0.2500,NaN,29100.0,26300.0,15800.0,37900.0,19800.0,36300.0,32900.0,19300.0,47500.0,25000.0,0.465909,0.1538,0.0717,0.0000,0.0,0.0000,0.0000,0.0000,0.0,0.0000,0.0,0.0,0.0000,0.0000,0.0000,0.0000,0.4773,0.0,0.0157,0.0000,0.0,0.0000,0.0000,0.0,0.0000,0.0000,0.0,0.0000,0.0087,0.0000,0.0000,0.0,0.0,0.0,0.0,0.0052,0.2675,0.0000,0.0000
3,Academy of Art University,Four-year for-profit,Private for-profit,CA,San Francisco,94105,108232,753100,7531,9885.0,0.4342,0.5658,0.2392,0.0685,0.1141,0.0804,0.0051,0.0058,0.0249,0.2523,0.2098,0.093524,0.122917,0.175349,0.211525,0.396684,166594.96960,92300,0.205866,0.193782,0.180868,0.158146,0.261338,39988.01721,27400,0.186393,0.016357,NaN,NaN,NaN,NaN,NaN,NaN,NaN,19740.0,19740.0,25086.0,35919.0,0.4008,1432.1950,4449.50,0.4933,12250.0,49500.0,31000.0,5500.0,3449.0,NaN,0.0,0.3111,0.2595,0.1746,0.1875,0.3956,0.3333,NaN,0.5676,0.2746,32800.0,26900.0,13700.0,44200.0,29600.0,47300.0,38600.0,19100.0,64000.0,43500.0,0.348734,0.0000,0.0000,0.0027,0.0,0.0721,0.1327,0.0674,0.0,0.0040,0.0,0.0,0.0000,0.0020,0.0000,0.0000,0.0000,0.0,0.0000,0.0000,0.0,0.0000,0.0000,0.0,0.0000,0.0000,0.0,0.0000,0.0000,0.0000,0.0000,0.0,0.0,0.0,0.0,0.7190,0.0000,0.0000,0.0000
4,Adams State University,Selective public,Public,CO,Alamosa,81101,126182,134500,1345,2110.0,0.5156,0.4844,0.5071,0.0706,0.3180,0.0109,0.0152,0.0043,0.0450,0.0000,0.0289,0.129224,0.185504,0.248429,0.260876,0.175967,76121.81634,67200,0.121248,0.159078,0.243862,0.272265,0.203548,38010.81341,34100,0.112288,0.018845,430.0,520.0,458.0,560.0,475.0,509.0,955.0,8014.0,18814.0,6568.0,19043.0,0.5175,2758.5980,2502.68,0.6472,9500.0,31000.0,19680.0,4657.0,2750.0,0.6529,0.0,0.2125,0.2953,0.0588,0.1056,0.0909,0.1538,0.0000,NaN,0.1111,28800.0,26700.0,15600.0,37300.0,19600.0,38100.0,35200.0,21200.0,50800.0,25900.0,0.122291,0.0000,0.0000,0.0000,0.0,0.0000,0.0000,0.0000,0.0,0.0000,0.0,0.0,0.0022,0.0000,0.0000,0.0194,0.4052,0.0,0.0216,0.0151,0.0,0.0000,0.0797,0.0,0.0000,0.0302,0.0,0.0603,0.0000,0.0000,0.0948,0.0,0.0,0.0,0.0,0.0539,0.0388,0.1789,0.0000

# 02 Wrangling

## 02.01 Drop Columns

In [4]:
#Drop columns part 1
drop_list = ['opeid', 'opeid6', 'sat_verbal_25_percentile'
             , 'sat_verbal_75_percentile', 'sat_math_25_percentile'
             , 'sat_math_75_percentile', 'sat_verbal_median'
             , 'sat_math_median', 'sat_equivalent_avg_all']

ced = ced.drop(columns = drop_list)
ced.head()

,name,tier,ownership_type,state,city,zip,unitid,student_body,fraction_students_men,fraction_students_women,fraction_students_white,fraction_students_black,fraction_students_hispanic,fraction_students_asian,fraction_students_native_american,fraction_students_pacific_islander,fraction_students_multiracial,fraction_students_non_resident,fraction_students_unknown_ethnicity,fraction_parent_income_q1,fraction_parent_income_q2,fraction_parent_income_q3,fraction_parent_income_q4,fraction_parent_income_q5,mean_parent_income,median_parent_income,fraction_child_income_q1,fraction_child_income_q2,fraction_child_income_q3,fraction_child_income_q4,fraction_child_income_q5,mean_child_income,median_child_income,percent_child_zero_income,mobility_rate,tuition_in_state,tuition_out_of_state,tuition_net,cost_of_attendance,pell_grant_rate,pell_aid_per_student,institutional_grant_aid_avg,fraction_students_with_debt,debt_median,debt_90_percentile,debt_75_percentile,debt_25_percentile,debt_10_percentile,admission_rate,online_only,completion_rate,completion_rate_white,completion_rate_black,completion_rate_hisp,completion_rate_asian,completion_rate_native_american,completion_rate_multiracial,completion_rate_non_resident,completion_rate_unknown_ethnicity,student_income_6_years_mean,student_income_6_years_median,student_income_6_years_25_percentile,student_income_6_years_75_percentile,student_income_6_years_stdev,student_income_10_years_mean,student_income_10_years_median,student_income_10_years_25_percentile,student_income_10_years_75_percentile,student_income_10_years_stdev,fraction_majors_category_stem,fraction_majors_agriculture,fraction_majors_natural_resources,fraction_majors_architecture,fraction_majors_area_studies,fraction_majors_communication,fraction_majors_commtech,fraction_majors_compsci,fraction_majors_culinary,fraction_majors_education,fraction_majors_engineering,fraction_majors_engtech,fraction_majors_languages,fraction_majors_consumer_sci,fraction_majors_legal,fraction_majors_english,fraction_majors_liberal_arts,fraction_majors_library,fraction_majors_bio,fraction_majors_math,fraction_majors_military,fraction_majors_multidisciplinary,fraction_majors_parks_rec,fraction_majors_philosophy,fraction_majors_religion,fraction_majors_physical_sci,fraction_majors_sci_tech,fraction_majors_psych,fraction_majors_protective_serv,fraction_majors_pub_admin,fraction_majors_social_sci,fraction_majors_construction,fraction_majors_mechanic,fraction_majors_prec_prod,fraction_majors_transportation,fraction_majors_arts,fraction_majors_health,fraction_majors_business,fraction_majors_history
0,ASA College,Two-year for-profit,Private for-profit,NY,Brooklyn,11201-9805,404994,4437.0,0.3678,0.6322,0.0471,0.3315,0.3980,0.0775,0.0009,0.0014,0.0133,0.1285,0.0018,0.443575,0.326790,0.143711,0.059707,0.026217,35390.39680,29000,0.171280,0.297217,0.251632,0.210021,0.069851,24916.14900,19700,0.160623,0.020034,12298.0,12298.0,14948.0,26546.0,0.7992,3578.4820,3218.60,0.5164,8500.0,19810.0,14193.0,3500.0,2000.0,NaN,0.0,0.3185,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,22300.0,18100.0,10300.0,31000.0,16800.0,29300.0,26100.0,13800.0,40400.0,21000.0,0.222853,0.0000,0.0000,0.0000,0.0,0.0000,0.0000,0.0899,0.0,0.0000,0.0,0.0,0.0000,0.0000,0.0024,0.0000,0.0000,0.0,0.0000,0.0000,0.0,0.0000,0.0000,0.0,0.0000,0.0000,0.0,0.0000,0.1664,0.0000,0.0000,0.0,0.0,0.0,0.0,0.0000,0.5591,0.1822,0.0000
1,Abilene Christian University,Selective private,Private nonprofit,TX,Abilene,79699,222178,3572.0,0.4236,0.5764,0.6739,0.0798,0.1414,0.0090,0.0039,0.0000,0.0454,0.0423,0.0045,0.052441,0.101032,0.163936,0.258240,0.424351,138760.96980,101000,0.140065,0.132948,0.173277,0.246444,0.307266,50874.14613,40100,0.121246,0.014364,29450.0,29450.0,13974.0,41606.0,0.2595,940.7532,11832.39,0.5945,18500.0,37000.0,27500.0,6500.0,4750.0,0.5047,0.0,0.6200,0.6518,0.3824,0.4933,0.6154,0.2000,0.9000,0.7143,0.0000,38900.0,35600.0,22500.0,50000.0,31300.0,48900.0,43000.0,26700.0,62700.0,38700.0,0.155251,0.0138,0.0063,0.0013,0.0,0.0752,0.0000,0.0251,0.0,0.0777,0.0,0.0,0.0000,0.0388,0.0000,0.0251,0.0000,0.0,0.0614,0.0025,0.0,0.0677,0.0489,0.0,0.0351,0.0075,0.0,0.0627,0.0226,0.0188,0.0201,0.0,0.0,0.0,0.0,0.0664,0.0890,0.2256,0.0088
2,Abraham Baldwin Agricultural College,Nonselective four-year public,Public,GA,Tifton,31793-2601,138558,3244.0,0.4750,0.5250,0.7830,0.1239,0.0586,0.0071,0.0025,0.0003,0.0092,0.0151,0.0003,0.154555,0.187159,0.225497,0.236763,0.196027,80366.66127,66000,0.121950,0.179027,0.255329,0.273957,0.169737,35346.92997,32500,0.113069,0.014857,3394.0,9839.0,2359.0,11674.0,0.4629,1870.4520,1152.64,0.4831,5500.0,20750.0,12000.0,3500.0,2000.0,0.7726,0.0,0.1618,0.1880,0.0549,0.2821,0.1250,0.2000,0.2727,0.2500,NaN,29100.0,26300.0,15800.0,37900.0,19800.0,36300.0,32900.0,19300.0,47500.0,25000.0,0.465909,0.1538,0.0717,0.0000,0.0,0.0000,0.0000,0.0000,0.0,0.0000,0.0,0.0,0.0000,0.0000,0.0000,0.0000,0.4773,0.0,0.0157,0.0000,0.0,0.0000,0.0000,0.0,0.0000,0.0000,0.0,0.0000,0.0087,0.0000,0.0000,0.0,0.0,0.0,0.0,0.0052,0.2675,0.0000,0.0000
3,Academy of Art University,Four-year for-profit,Private for-profit,CA,San Francisco,94105,108232,9885.0,0.4342,0.5658,0.2392,0.0685,0.1141,0.0804,0.0051,0.0058,0.0249,0.2523,0.2098,0.093524,0.122917,0.175349,0.211525,0.396684,166594.96960,92300,0.205866,0.193782,0.180868,0.158146,0.261338,39988.01721,27400,0.186393,0.016357,19740.0,19740.0,25086.0,35919.0,0.4008,1432.1950,4449.50,0.4933,12250.0,49500.0,31000.0,5500.0,3449.0,NaN,0.0,0.3111,0.2595,0.1746,0.1875,0.3956,0.3333,NaN,0.5676,0.2746,32800.0,26900.0,13700.0,44200.0,29600.0,47300.0,38600.0,19100.0,64000.0,43500.0,0.348734,0.0000,0.0000,0.0027,0.0,0.0721,0.1327,0.0674,0.0,0.0040,0.0,0.0,0.0000,0.0020,0.0000,0.0000,0.0000,0.0,0.0000,0.0000,0.0,0.0000,0.0000,0.0,0.0000,0.0000,0.0,0.0000,0.0000,0.0000,0.0000,0.0,0.0,0.0,0.0,0.7190,0.0000,0.0000,0.0000
4,Adams State University,Selective public,Public,CO,Alamosa,81101,126182,2110.0,0.5156,0.4844,0.5071,0.0706,0.3180,0.0109,0.0152,0.0043,0.0450,0.0000,0.0289,0.129224,0.185504,0.248429,0.260876,0.175967,76121.81634,67200,0.121248,0.159078,0.243862,0.272265,0.203548,38010.81341,34100,0.112288,0.018845,8014.0,18814.0,6568.0,19043.0,0.5175,2758.5980,2502.68,0.6472,9500.0,31000.0,19680.0,4657.0,2750.0,0.6529,0.0,0.2125,0.2953,0.0588,0.1056,0.0909,0.1538,0.0000,NaN,0.1111,28800.0,26700.0,15600.0,37300.0,19600.0,38100.0,35200.0,21200.0,50800.0,25900.0,0.122291,0.0000,0.0000,0.0000,0.0,0.0000,0.0000,0.0000,0.0,0.0000,0.0,0.0,0.0022,0.0000,0.0000,0.0194,0.4052,0.0,0.0216,0.0151,0.0,0.0000,0.0797,0.0,0.0000,0.0302,0.0,0.0603,0.0000,0.0000,0.0948,0.0,0.0,0.0,0.0,0.0539,0.0388,0.1789,0.0000

In [5]:
#Drop columns part 2
#Drop last N columns (all fraction_majors_X columns)
N = 39
ced = ced.iloc[:, :-N]
ced.head()

,name,tier,ownership_type,state,city,zip,unitid,student_body,fraction_students_men,fraction_students_women,fraction_students_white,fraction_students_black,fraction_students_hispanic,fraction_students_asian,fraction_students_native_american,fraction_students_pacific_islander,fraction_students_multiracial,fraction_students_non_resident,fraction_students_unknown_ethnicity,fraction_parent_income_q1,fraction_parent_income_q2,fraction_parent_income_q3,fraction_parent_income_q4,fraction_parent_income_q5,mean_parent_income,median_parent_income,fraction_child_income_q1,fraction_child_income_q2,fraction_child_income_q3,fraction_child_income_q4,fraction_child_income_q5,mean_child_income,median_child_income,percent_child_zero_income,mobility_rate,tuition_in_state,tuition_out_of_state,tuition_net,cost_of_attendance,pell_grant_rate,pell_aid_per_student,institutional_grant_aid_avg,fraction_students_with_debt,debt_median,debt_90_percentile,debt_75_percentile,debt_25_percentile,debt_10_percentile,admission_rate,online_only,completion_rate,completion_rate_white,completion_rate_black,completion_rate_hisp,completion_rate_asian,completion_rate_native_american,completion_rate_multiracial,completion_rate_non_resident,completion_rate_unknown_ethnicity,student_income_6_years_mean,student_income_6_years_median,student_income_6_years_25_percentile,student_income_6_years_75_percentile,student_income_6_years_stdev,student_income_10_years_mean,student_income_10_years_median,student_income_10_years_25_percentile,student_income_10_years_75_percentile,student_income_10_years_stdev
0,ASA College,Two-year for-profit,Private for-profit,NY,Brooklyn,11201-9805,404994,4437.0,0.3678,0.6322,0.0471,0.3315,0.3980,0.0775,0.0009,0.0014,0.0133,0.1285,0.0018,0.443575,0.326790,0.143711,0.059707,0.026217,35390.39680,29000,0.171280,0.297217,0.251632,0.210021,0.069851,24916.14900,19700,0.160623,0.020034,12298.0,12298.0,14948.0,26546.0,0.7992,3578.4820,3218.60,0.5164,8500.0,19810.0,14193.0,3500.0,2000.0,NaN,0.0,0.3185,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,22300.0,18100.0,10300.0,31000.0,16800.0,29300.0,26100.0,13800.0,40400.0,21000.0
1,Abilene Christian University,Selective private,Private nonprofit,TX,Abilene,79699,222178,3572.0,0.4236,0.5764,0.6739,0.0798,0.1414,0.0090,0.0039,0.0000,0.0454,0.0423,0.0045,0.052441,0.101032,0.163936,0.258240,0.424351,138760.96980,101000,0.140065,0.132948,0.173277,0.246444,0.307266,50874.14613,40100,0.121246,0.014364,29450.0,29450.0,13974.0,41606.0,0.2595,940.7532,11832.39,0.5945,18500.0,37000.0,27500.0,6500.0,4750.0,0.5047,0.0,0.6200,0.6518,0.3824,0.4933,0.6154,0.2000,0.9000,0.7143,0.0000,38900.0,35600.0,22500.0,50000.0,31300.0,48900.0,43000.0,26700.0,62700.0,38700.0
2,Abraham Baldwin Agricultural College,Nonselective four-year public,Public,GA,Tifton,31793-2601,138558,3244.0,0.4750,0.5250,0.7830,0.1239,0.0586,0.0071,0.0025,0.0003,0.0092,0.0151,0.0003,0.154555,0.187159,0.225497,0.236763,0.196027,80366.66127,66000,0.121950,0.179027,0.255329,0.273957,0.169737,35346.92997,32500,0.113069,0.014857,3394.0,9839.0,2359.0,11674.0,0.4629,1870.4520,1152.64,0.4831,5500.0,20750.0,12000.0,3500.0,2000.0,0.7726,0.0,0.1618,0.1880,0.0549,0.2821,0.1250,0.2000,0.2727,0.2500,NaN,29100.0,26300.0,15800.0,37900.0,19800.0,36300.0,32900.0,19300.0,47500.0,25000.0
3,Academy of Art University,Four-year for-profit,Private for-profit,CA,San Francisco,94105,108232,9885.0,0.4342,0.5658,0.2392,0.0685,0.1141,0.0804,0.0051,0.0058,0.0249,0.2523,0.2098,0.093524,0.122917,0.175349,0.211525,0.396684,166594.96960,92300,0.205866,0.193782,0.180868,0.158146,0.261338,39988.01721,27400,0.186393,0.016357,19740.0,19740.0,25086.0,35919.0,0.4008,1432.1950,4449.50,0.4933,12250.0,49500.0,31000.0,5500.0,3449.0,NaN,0.0,0.3111,0.2595,0.1746,0.1875,0.3956,0.3333,NaN,0.5676,0.2746,32800.0,26900.0,13700.0,44200.0,29600.0,47300.0,38600.0,19100.0,64000.0,43500.0
4,Adams State University,Selective public,Public,CO,Alamosa,81101,126182,2110.0,0.5156,0.4844,0.5071,0.0706,0.3180,0.0109,0.0152,0.0043,0.0450,0.0000,0.0289,0.129224,0.185504,0.248429,0.260876,0.175967,76121.81634,67200,0.121248,0.159078,0.243862,0.272265,0.203548,38010.81341,34100,0.112288,0.018845,8014.0,18814.0,6568.0,19043.0,0.5175,2758.5980,2502.68,0.6472,9500.0,31000.0,19680.0,4657.0,2750.0,0.6529,0.0,0.2125,0.2953,0.0588,0.1056,0.0909,0.1538,0.0000,NaN,0.1111,28800.0,26700.0,15600.0,37300.0,19600.0,38100.0,35200.0,21200.0,50800.0,25900.0

# 03 Cleaning

## 03.01 Nulls and Data Types

In [6]:
ced.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3645 entries, 0 to 3644
Data columns (total 69 columns):
 #   Column                                 Non-Null Count  Dtype
---  ------                                 --------------  -----
 0   name                                   3645 non-null   object
 1   tier                                   3645 non-null   object
 2   ownership_type                         3645 non-null   object
 3   state                                  3645 non-null   object
 4   city                                   3645 non-null   object
 5   zip                                    3645 non-null   object
 6   unitid                                 3645 non-null   int64
 7   student_body                           3351 non-null   float64
 8   fraction_students_men                  3351 non-null   float64
 9   fraction_students_women                3351 non-null   float64
 10  fraction_students_white                3351 non-null   float64
 11  fraction_students_black                3351 non-null   float64
 12  fraction_students_hispanic             3351 non-null   float64
 13  fraction_students_asian                3351 non-null   float64
 14  fraction_students_native_american      3351 non-null   float64
 15  fraction_students_pacific_islander     3351 non-null   float64
 16  fraction_students_multiracial          3351 non-null   float64
 17  fraction_students_non_resident         3351 non-null   float64
 18  fraction_students_unknown_ethnicity    3351 non-null   float64
 19  fraction_parent_income_q1              3645 non-null   float64
 20  fraction_parent_income_q2              3645 non-null   float64
 21  fraction_parent_income_q3              3645 non-null   float64
 22  fraction_parent_income_q4              3645 non-null   float64
 23  fraction_parent_income_q5              3645 non-null   float64
 24  mean_parent_income                     3645 non-null   float64
 25  median_parent_income                   3645 non-null   int64
 26  fraction_child_income_q1               3645 non-null   float64
 27  fraction_child_income_q2               3645 non-null   float64
 28  fraction_child_income_q3               3645 non-null   float64
 29  fraction_child_income_q4               3645 non-null   float64
 30  fraction_child_income_q5               3645 non-null   float64
 31  mean_child_income                      3645 non-null   float64
 32  median_child_income                    3645 non-null   int64
 33  percent_child_zero_income              3645 non-null   float64
 34  mobility_rate                          3645 non-null   float64
 35  tuition_in_state                       3084 non-null   float64
 36  tuition_out_of_state                   3421 non-null   float64
 37  tuition_net                            3367 non-null   float64
 38  cost_of_attendance                     3284 non-null   float64
 39  pell_grant_rate                        3346 non-null   float64
 40  pell_aid_per_student                   3280 non-null   float64
 41  institutional_grant_aid_avg            3302 non-null   float64
 42  fraction_students_with_debt            3297 non-null   float64
 43  debt_median                            3531 non-null   float64
 44  debt_90_percentile                     3509 non-null   float64
 45  debt_75_percentile                     3522 non-null   float64
 46  debt_25_percentile                     3522 non-null   float64
 47  debt_10_percentile                     3509 non-null   float64
 48  admission_rate                         1721 non-null   float64
 49  online_only                            3371 non-null   float64
 50  completion_rate                        3199 non-null   float64
 51  completion_rate_white                  1789 non-null   float64
 52  completion_rate_black                  1770 non-null   float64
 53  completion_rate_hisp                   1742 non-null   float64
 54  completion_rate_asian                  1589 non-null   float64
 55  completion_rate_native_american        1356 non-null   float64
 56  completion_rate_multiracial            777 non-null    float64
 57  completion_rate_non_resident           1308 non-null   float64
 58  completion_rate_unknown_ethnicity      1501 non-null   float64
 59  student_income_6_years_mean            3641 non-null   float64
 60  student_income_6_years_median          3641 non-null   float64
 61  student_income_6_years_25_percentile   3636 non-null   float64
 62  student_income_6_years_75_percentile   3636 non-null   float64
 63  student_income_6_years_stdev           3641 non-null   float64
 64  student_income_10_years_mean           3616 non-null   float64
 65  student_income_10_years_median         3616 non-null   float64
 66  student_income_10_years_25_percentile  3604 non-null   float64
 67  student_income_10_years_75_percentile  3604 non-null   float64
 68  student_income_10_years_stdev          3616 non-null   float64
dtypes: float64(60), int64(3), object(6)
memory usage: 1.9+ MB

#### Due to the nature of the variables, we can infer that all null values represent missing values--no other significance. There are 3645 entries, so any variable with less than 2916 non-null values (729 or more nulls) would have 20% or more nulls. Those variables should be dropped. Unfortunately, this throws out all the demographic completion rate variables.

In [7]:
#Drop columns with >= 20% nulls (729 nulls)
ced = ced[[col for col in ced if ced[col].isnull().sum() <= 729]]
ced.head()

,name,tier,ownership_type,state,city,zip,unitid,student_body,fraction_students_men,fraction_students_women,fraction_students_white,fraction_students_black,fraction_students_hispanic,fraction_students_asian,fraction_students_native_american,fraction_students_pacific_islander,fraction_students_multiracial,fraction_students_non_resident,fraction_students_unknown_ethnicity,fraction_parent_income_q1,fraction_parent_income_q2,fraction_parent_income_q3,fraction_parent_income_q4,fraction_parent_income_q5,mean_parent_income,median_parent_income,fraction_child_income_q1,fraction_child_income_q2,fraction_child_income_q3,fraction_child_income_q4,fraction_child_income_q5,mean_child_income,median_child_income,percent_child_zero_income,mobility_rate,tuition_in_state,tuition_out_of_state,tuition_net,cost_of_attendance,pell_grant_rate,pell_aid_per_student,institutional_grant_aid_avg,fraction_students_with_debt,debt_median,debt_90_percentile,debt_75_percentile,debt_25_percentile,debt_10_percentile,online_only,completion_rate,student_income_6_years_mean,student_income_6_years_median,student_income_6_years_25_percentile,student_income_6_years_75_percentile,student_income_6_years_stdev,student_income_10_years_mean,student_income_10_years_median,student_income_10_years_25_percentile,student_income_10_years_75_percentile,student_income_10_years_stdev
0,ASA College,Two-year for-profit,Private for-profit,NY,Brooklyn,11201-9805,404994,4437.0,0.3678,0.6322,0.0471,0.3315,0.3980,0.0775,0.0009,0.0014,0.0133,0.1285,0.0018,0.443575,0.326790,0.143711,0.059707,0.026217,35390.39680,29000,0.171280,0.297217,0.251632,0.210021,0.069851,24916.14900,19700,0.160623,0.020034,12298.0,12298.0,14948.0,26546.0,0.7992,3578.4820,3218.60,0.5164,8500.0,19810.0,14193.0,3500.0,2000.0,0.0,0.3185,22300.0,18100.0,10300.0,31000.0,16800.0,29300.0,26100.0,13800.0,40400.0,21000.0
1,Abilene Christian University,Selective private,Private nonprofit,TX,Abilene,79699,222178,3572.0,0.4236,0.5764,0.6739,0.0798,0.1414,0.0090,0.0039,0.0000,0.0454,0.0423,0.0045,0.052441,0.101032,0.163936,0.258240,0.424351,138760.96980,101000,0.140065,0.132948,0.173277,0.246444,0.307266,50874.14613,40100,0.121246,0.014364,29450.0,29450.0,13974.0,41606.0,0.2595,940.7532,11832.39,0.5945,18500.0,37000.0,27500.0,6500.0,4750.0,0.0,0.6200,38900.0,35600.0,22500.0,50000.0,31300.0,48900.0,43000.0,26700.0,62700.0,38700.0
2,Abraham Baldwin Agricultural College,Nonselective four-year public,Public,GA,Tifton,31793-2601,138558,3244.0,0.4750,0.5250,0.7830,0.1239,0.0586,0.0071,0.0025,0.0003,0.0092,0.0151,0.0003,0.154555,0.187159,0.225497,0.236763,0.196027,80366.66127,66000,0.121950,0.179027,0.255329,0.273957,0.169737,35346.92997,32500,0.113069,0.014857,3394.0,9839.0,2359.0,11674.0,0.4629,1870.4520,1152.64,0.4831,5500.0,20750.0,12000.0,3500.0,2000.0,0.0,0.1618,29100.0,26300.0,15800.0,37900.0,19800.0,36300.0,32900.0,19300.0,47500.0,25000.0
3,Academy of Art University,Four-year for-profit,Private for-profit,CA,San Francisco,94105,108232,9885.0,0.4342,0.5658,0.2392,0.0685,0.1141,0.0804,0.0051,0.0058,0.0249,0.2523,0.2098,0.093524,0.122917,0.175349,0.211525,0.396684,166594.96960,92300,0.205866,0.193782,0.180868,0.158146,0.261338,39988.01721,27400,0.186393,0.016357,19740.0,19740.0,25086.0,35919.0,0.4008,1432.1950,4449.50,0.4933,12250.0,49500.0,31000.0,5500.0,3449.0,0.0,0.3111,32800.0,26900.0,13700.0,44200.0,29600.0,47300.0,38600.0,19100.0,64000.0,43500.0
4,Adams State University,Selective public,Public,CO,Alamosa,81101,126182,2110.0,0.5156,0.4844,0.5071,0.0706,0.3180,0.0109,0.0152,0.0043,0.0450,0.0000,0.0289,0.129224,0.185504,0.248429,0.260876,0.175967,76121.81634,67200,0.121248,0.159078,0.243862,0.272265,0.203548,38010.81341,34100,0.112288,0.018845,8014.0,18814.0,6568.0,19043.0,0.5175,2758.5980,2502.68,0.6472,9500.0,31000.0,19680.0,4657.0,2750.0,0.0,0.2125,28800.0,26700.0,15600.0,37300.0,19600.0,38100.0,35200.0,21200.0,50800.0,25900.0

In [8]:
ced.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3645 entries, 0 to 3644
Data columns (total 60 columns):
 #   Column                                 Non-Null Count  Dtype
---  ------                                 --------------  -----
 0   name                                   3645 non-null   object
 1   tier                                   3645 non-null   object
 2   ownership_type                         3645 non-null   object
 3   state                                  3645 non-null   object
 4   city                                   3645 non-null   object
 5   zip                                    3645 non-null   object
 6   unitid                                 3645 non-null   int64
 7   student_body                           3351 non-null   float64
 8   fraction_students_men                  3351 non-null   float64
 9   fraction_students_women                3351 non-null   float64
 10  fraction_students_white                3351 non-null   float64
 11  fraction_students_black                3351 non-null   float64
 12  fraction_students_hispanic             3351 non-null   float64
 13  fraction_students_asian                3351 non-null   float64
 14  fraction_students_native_american      3351 non-null   float64
 15  fraction_students_pacific_islander     3351 non-null   float64
 16  fraction_students_multiracial          3351 non-null   float64
 17  fraction_students_non_resident         3351 non-null   float64
 18  fraction_students_unknown_ethnicity    3351 non-null   float64
 19  fraction_parent_income_q1              3645 non-null   float64
 20  fraction_parent_income_q2              3645 non-null   float64
 21  fraction_parent_income_q3              3645 non-null   float64
 22  fraction_parent_income_q4              3645 non-null   float64
 23  fraction_parent_income_q5              3645 non-null   float64
 24  mean_parent_income                     3645 non-null   float64
 25  median_parent_income                   3645 non-null   int64
 26  fraction_child_income_q1               3645 non-null   float64
 27  fraction_child_income_q2               3645 non-null   float64
 28  fraction_child_income_q3               3645 non-null   float64
 29  fraction_child_income_q4               3645 non-null   float64
 30  fraction_child_income_q5               3645 non-null   float64
 31  mean_child_income                      3645 non-null   float64
 32  median_child_income                    3645 non-null   int64
 33  percent_child_zero_income              3645 non-null   float64
 34  mobility_rate                          3645 non-null   float64
 35  tuition_in_state                       3084 non-null   float64
 36  tuition_out_of_state                   3421 non-null   float64
 37  tuition_net                            3367 non-null   float64
 38  cost_of_attendance                     3284 non-null   float64
 39  pell_grant_rate                        3346 non-null   float64
 40  pell_aid_per_student                   3280 non-null   float64
 41  institutional_grant_aid_avg            3302 non-null   float64
 42  fraction_students_with_debt            3297 non-null   float64
 43  debt_median                            3531 non-null   float64
 44  debt_90_percentile                     3509 non-null   float64
 45  debt_75_percentile                     3522 non-null   float64
 46  debt_25_percentile                     3522 non-null   float64
 47  debt_10_percentile                     3509 non-null   float64
 48  online_only                            3371 non-null   float64
 49  completion_rate                        3199 non-null   float64
 50  student_income_6_years_mean            3641 non-null   float64
 51  student_income_6_years_median          3641 non-null   float64
 52  student_income_6_years_25_percentile   3636 non-null   float64
 53  student_income_6_years_75_percentile   3636 non-null   float64
 54  student_income_6_years_stdev           3641 non-null   float64
 55  student_income_10_years_mean           3616 non-null   float64
 56  student_income_10_years_median         3616 non-null   float64
 57  student_income_10_years_25_percentile  3604 non-null   float64
 58  student_income_10_years_75_percentile  3604 non-null   float64
 59  student_income_10_years_stdev          3616 non-null   float64
dtypes: float64(51), int64(3), object(6)
memory usage: 1.7+ MB

In [9]:
#Change unitid from int to string
ced['unitid'] = ced['unitid'].astype('str')
ced['unitid'].dtype

dtype('O')

In [10]:
#Check for mixed-type data
for col in ced.columns.tolist():
    weird = (ced[[col]].applymap(type) 
             != ced[[col]].iloc[0].apply(type)).any(axis = 1)
    if len(ced[weird]) > 0:
        print(col)

#### No columns with mixed-type data

## 03.02  Duplicates

In [11]:
#Check original dimensions
ced.shape

(3645, 60)

In [12]:
#Check for duplicates
ced[ced.duplicated()]

Empty DataFrame
Columns: [name, tier, ownership_type, state, city, zip, unitid, student_body, fraction_students_men, fraction_students_women, fraction_students_white, fraction_students_black, fraction_students_hispanic, fraction_students_asian, fraction_students_native_american, fraction_students_pacific_islander, fraction_students_multiracial, fraction_students_non_resident, fraction_students_unknown_ethnicity, fraction_parent_income_q1, fraction_parent_income_q2, fraction_parent_income_q3, fraction_parent_income_q4, fraction_parent_income_q5, mean_parent_income, median_parent_income, fraction_child_income_q1, fraction_child_income_q2, fraction_child_income_q3, fraction_child_income_q4, fraction_child_income_q5, mean_child_income, median_child_income, percent_child_zero_income, mobility_rate, tuition_in_state, tuition_out_of_state, tuition_net, cost_of_attendance, pell_grant_rate, pell_aid_per_student, institutional_grant_aid_avg, fraction_students_with_debt, debt_median, debt_90_percentile, debt_75_percentile, debt_25_percentile, debt_10_percentile, online_only, completion_rate, student_income_6_years_mean, student_income_6_years_median, student_income_6_years_25_percentile, student_income_6_years_75_percentile, student_income_6_years_stdev, student_income_10_years_mean, student_income_10_years_median, student_income_10_years_25_percentile, student_income_10_years_75_percentile, student_income_10_years_stdev]
Index: []

#### No duplicates

# 04 Consistency Checks

In [13]:
#Summary stats for each variable
ced.describe()

,student_body,fraction_students_men,fraction_students_women,fraction_students_white,fraction_students_black,fraction_students_hispanic,fraction_students_asian,fraction_students_native_american,fraction_students_pacific_islander,fraction_students_multiracial,fraction_students_non_resident,fraction_students_unknown_ethnicity,fraction_parent_income_q1,fraction_parent_income_q2,fraction_parent_income_q3,fraction_parent_income_q4,fraction_parent_income_q5,mean_parent_income,median_parent_income,fraction_child_income_q1,fraction_child_income_q2,fraction_child_income_q3,fraction_child_income_q4,fraction_child_income_q5,mean_child_income,median_child_income,percent_child_zero_income,mobility_rate,tuition_in_state,tuition_out_of_state,tuition_net,cost_of_attendance,pell_grant_rate,pell_aid_per_student,institutional_grant_aid_avg,fraction_students_with_debt,debt_median,debt_90_percentile,debt_75_percentile,debt_25_percentile,debt_10_percentile,online_only,completion_rate,student_income_6_years_mean,student_income_6_years_median,student_income_6_years_25_percentile,student_income_6_years_75_percentile,student_income_6_years_stdev,student_income_10_years_mean,student_income_10_years_median,student_income_10_years_25_percentile,student_income_10_years_75_percentile,student_income_10_years_stdev
count,3351.000000,3351.000000,3351.000000,3351.000000,3351.000000,3351.000000,3351.000000,3351.000000,3351.000000,3351.000000,3351.000000,3351.000000,3645.000000,3645.000000,3645.000000,3645.000000,3645.000000,3645.000000,3645.000000,3645.000000,3645.000000,3645.000000,3645.000000,3645.000000,3645.000000,3645.000000,3645.000000,3645.000000,3084.000000,3421.000000,3367.000000,3284.000000,3346.000000,3280.000000,3302.000000,3297.000000,3531.000000,3509.000000,3522.000000,3522.000000,3509.000000,3371.000000,3199.000000,3641.000000,3641.000000,3636.000000,3636.000000,3641.000000,3616.000000,3616.000000,3604.000000,3604.000000,3616.000000
mean,4311.747240,0.409315,0.590685,0.532039,0.173343,0.135125,0.035066,0.010236,0.003285,0.029105,0.020975,0.060827,0.145443,0.182251,0.211805,0.233559,0.226943,96799.751972,71238.463649,0.139513,0.183334,0.216806,0.233044,0.227303,39338.913900,34088.724280,0.126164,0.018312,14552.291505,17957.195557,10237.526582,24960.092266,0.472021,1817.201846,4155.178680,0.572745,11472.520674,27926.962382,19853.228279,5173.865985,2845.701482,0.003263,0.439492,33210.299368,29972.507553,17563.063806,44072.662266,23426.723428,41998.147124,37163.053097,22118.756937,55046.059933,31191.509956
std,6987.193475,0.175365,0.175365,0.244394,0.194397,0.161840,0.052260,0.031064,0.014763,0.030185,0.038580,0.104303,0.094636,0.068130,0.046851,0.063060,0.149887,57671.938361,26680.270009,0.048665,0.071917,0.060654,0.054834,0.138353,16124.416191,12553.223754,0.043557,0.013033,12095.845122,10666.977375,7667.519491,12993.947959,0.204684,833.113617,5564.553184,0.291976,5594.198614,10340.786000,7838.577197,2410.384487,1037.585575,0.057039,0.222060,9309.301501,8749.942512,6473.593583,11446.007006,7635.887468,13614.826935,11515.068772,8521.638423,16239.206660,12284.162564
min,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.011190,0.018595,0.057592,0.023157,0.010490,33202.243480,21200.000000,0.024369,0.024199,0.026660,0.063383,0.016531,15191.159830,10300.000000,0.024139,0.000000,0.000000,348.000000,200.000000,3722.000000,0.044400,0.000000,0.000000,0.000000,1550.000000,4500.000000,3000.000000,1167.000000,722.000000,0.000000,0.000000,15800.000000,13000.000000,4800.000000,16700.000000,11800.000000,19900.000000,12700.000000,5000.000000,26100.000000,14100.000000
25%,575.000000,0.339700,0.516750,0.341000,0.043300,0.034400,0.007650,0.001800,0.000000,0.012500,0.000000,0.009800,0.070405,0.127288,0.182211,0.190633,0.114243,65233.370110,52600.000000,0.104568,0.131265,0.178683,0.199663,0.130644,30213.511070,26100.000000,0.094692,0.009774,4382.000000,9937.000000,3503.000000,14365.500000,0.315600,1193.897000,537.510000,0.356900,7000.000000,19000.000000,12000.000000,3500.000000,1887.000000,0.000000,0.257000,27200.000000,24300.000000,13100.000000,36800.000000,19000.000000,33000.000000,29300.000000,15600.000000,44200.000000,23875.000000
50%,1782.000000,0.418200,0.581800,0.580000,0.097800,0.070800,0.016800,0.003900,0.001100,0.024100,0.005600,0.026700,0.124845,0.180065,0.216175,0.236274,0.188592,81438.703130,68400.000000,0.134113,0.173085,0.214899,0.237424,0.207483,36986.630670,33100.000000,0.121178,0.015363,11643.000000,16250.000000,9624.000000,22588.000000,0.440200,1688.699500,1626.500000,0.645600,10500.000000,30291.000000,21611.000000,4750.000000,2750.000000,0.000000,0.426500,32400.000000,29000.000000,16400.000000,42700.000000,22000.000000,40200.000000,35900.000000,20700.000000,52900.000000,28700.000000
75%,4918.500000,0.483250,0.660300,0.732150,0.224700,0.166750,0.038500,0.008100,0.002800,0.037000,0.024550,0.061200,0.194546,0.241633,0.239987,0.281164,0.313846,105626.333900,85200.000000,0.165146,0.224865,0.259042,0.270258,0.291070,44789.436200,39900.000000,0.148674,0.024520,19575.000000,23280.000000,14955.500000,31057.250000,0.619725,2351.151750,5223.025000,0.810900,14979.000000,34250.000000,26999.000000,6000.000000,3500.000000,0.000000,0.607650,37600.000000,33900.000000,21000.000000,49600.000000,26000.000000,48700.000000,43500.000000,27500.000000,62800.000000,35300.000000
max,151558.000000,1.000000,1.000000,1.000000,0.969700,1.000000,0.439100,0.804400,0.673000,0.533300,0.389800,0.902700,0.609775,0.408241,0.400364,0.408000,0.813482,551968.154100,226700.000000,0.347852,0.554887,0.386688,0.393966,0.826081,174059.045300,123600.000000,0.333228,0.163580,51008.000000,88550.000000,109761.000000,64988.000000,1.000000,5485.297000,38575.000000,1.000000,34833.000000,57500.000000,52013.000000,18880.000000,9500.000000,1.000000,1.000000,104500.000000,120400.000000,79900.000000,132300.000000,98100.000000,153600.000000,124700.000000,81900.000000,166800.000000,170800.000000

#### Things to investigate: college(s) with 1 student, college(s) with tuition of 0

In [14]:
#Colleges with 1 student
ced_1stud = ced[ced['student_body'] == 1]
ced_1stud

,name,tier,ownership_type,state,city,zip,unitid,student_body,fraction_students_men,fraction_students_women,fraction_students_white,fraction_students_black,fraction_students_hispanic,fraction_students_asian,fraction_students_native_american,fraction_students_pacific_islander,fraction_students_multiracial,fraction_students_non_resident,fraction_students_unknown_ethnicity,fraction_parent_income_q1,fraction_parent_income_q2,fraction_parent_income_q3,fraction_parent_income_q4,fraction_parent_income_q5,mean_parent_income,median_parent_income,fraction_child_income_q1,fraction_child_income_q2,fraction_child_income_q3,fraction_child_income_q4,fraction_child_income_q5,mean_child_income,median_child_income,percent_child_zero_income,mobility_rate,tuition_in_state,tuition_out_of_state,tuition_net,cost_of_attendance,pell_grant_rate,pell_aid_per_student,institutional_grant_aid_avg,fraction_students_with_debt,debt_median,debt_90_percentile,debt_75_percentile,debt_25_percentile,debt_10_percentile,online_only,completion_rate,student_income_6_years_mean,student_income_6_years_median,student_income_6_years_25_percentile,student_income_6_years_75_percentile,student_income_6_years_stdev,student_income_10_years_mean,student_income_10_years_median,student_income_10_years_25_percentile,student_income_10_years_75_percentile,student_income_10_years_stdev
1310,ITT Technical Institute-Cedar Rapids,Four-year for-profit,Private for-profit,IA,Cedar Rapids,52404,459620,1.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.194546,0.241633,0.239987,0.209592,0.114243,65233.37011,52600,0.127305,0.15362,0.213984,0.270258,0.234832,38044.73506,35600,0.116113,0.036342,NaN,NaN,48680.0,NaN,0.5676,2291.695,1110.0,NaN,12297.5,33263.0,25000.0,3500.0,2768.0,0.0,NaN,34800.0,31400.0,16800.0,48000.0,25200.0,44000.0,39400.0,22500.0,58100.0,32700.0

#### No indication as to why this school only has one student. No action to take.

In [15]:
#Colleges with tuition of 0
ced_0tuit = ced[ced['tuition_in_state'] == 0]
ced_0tuit

,name,tier,ownership_type,state,city,zip,unitid,student_body,fraction_students_men,fraction_students_women,fraction_students_white,fraction_students_black,fraction_students_hispanic,fraction_students_asian,fraction_students_native_american,fraction_students_pacific_islander,fraction_students_multiracial,fraction_students_non_resident,fraction_students_unknown_ethnicity,fraction_parent_income_q1,fraction_parent_income_q2,fraction_parent_income_q3,fraction_parent_income_q4,fraction_parent_income_q5,mean_parent_income,median_parent_income,fraction_child_income_q1,fraction_child_income_q2,fraction_child_income_q3,fraction_child_income_q4,fraction_child_income_q5,mean_child_income,median_child_income,percent_child_zero_income,mobility_rate,tuition_in_state,tuition_out_of_state,tuition_net,cost_of_attendance,pell_grant_rate,pell_aid_per_student,institutional_grant_aid_avg,fraction_students_with_debt,debt_median,debt_90_percentile,debt_75_percentile,debt_25_percentile,debt_10_percentile,online_only,completion_rate,student_income_6_years_mean,student_income_6_years_median,student_income_6_years_25_percentile,student_income_6_years_75_percentile,student_income_6_years_stdev,student_income_10_years_mean,student_income_10_years_median,student_income_10_years_25_percentile,student_income_10_years_75_percentile,student_income_10_years_stdev
1619,Lincoln College of New England-Hartford,Four-year for-profit,Private for-profit,CT,Hartford,061053630,12868301,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.135511,0.163028,0.202264,0.259153,0.240044,80374.39154,75000,0.112286,0.183589,0.300253,0.280049,0.123822,29802.19031,29100,0.107277,0.006345,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12000.0,35750.0,25199.0,5250.0,3500.0,NaN,NaN,31800.0,29200.0,14500.0,42600.0,22600.0,36200.0,33900.0,19900.0,49900.0,22600.0

#### This college only has student income data and basic geographic info, 0 seems to be a replacement for null here. I'll keep this observation as it will contribute to any income-related analysis.

# 05 Export Data

In [17]:
ced.to_csv(os.path.join(path, 'college-equity-clean.csv'))